:root { 
    --system-purple-1: #5627B9;
    --system-purple-2: #552684;
    --system-purple-3: #8A4196;

    --system-pink-1: #F1527D;
    --system-pink-2: #FF7A9E;
    --system-pink-3: #FFB6C4;
    --system-pink-4: #FFBBC8;
    --system-pink-5: #FFD6DE;
    --system-pink-6: #E98C9E;
    --system-pink-7: #F0AEAE;
    --system-pink-8: #FFD2D2;
    --system-pink-9: #FCEEEB;
    --system-pink-10: #ff7070;
    --system-pink-11: #E196B1;
    --system-pink-12: #FFE8EF;
    --system-pink-13: #E5AEB7;
    --system-pink-14: #FFE1E1;

    --system-brown-1: #7D4242;
    --system-brown-2: #BC6367;

    --system-blue-1: #0051CB;
    --system-blue-2: #8F96A3;

    --system-green-1: #5add57;
    --system-yellow-1: #ffd770;

    --system-grey-1: #202020;
    --system-grey-2: #252628;
    --system-grey-3: #333333;
    --system-grey-4: #383838;
    --system-grey-5: #3A3A3A;
    --system-grey-6: #444444;
    --system-grey-7: #555555;
    --system-grey-8: #525252;
    --system-grey-9: #5C5A5A;
    --system-grey-10: #505050;
    --system-grey-11: #666666;
    --system-grey-12: #6A6A6A;
    --system-grey-13: #808080;
    --system-grey-14: #818181;
    --system-grey-15: #949494;
    --system-grey-16: #9A9A9A;
    --system-grey-17: #A0A0A0;
    --system-grey-18: #AEAEAE;
    --system-grey-19: #DFDFDF;
    --system-grey-20: #EDEDED;
    --system-grey-21: #F8F9FB;

    --system-black: #000000;
    --system-white: #FFFFFF;

    --system-gradient:linear-gradient(132deg, #FCEEEB 4.08%, #F5BEC9 77.49%) 0% 0% no-repeat;
}
